<!-- your html code here -->
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Contact</h1> 
      <p class="col-md-8 fs-4">We would love to hear from you. If you have questions or concerns enter your e-mail and a personalized detailed message with your concerns or questions. You can be as specific as possible. </p>
      
      <div class="container">
    
        <h1>Leave a Comment/Suggestions</h1>

        <div class="container">
          <div class="p-3 mb-2 bg-light text-dark">
          <form>
            <div class="form-group row">
              <label for="emailInput" class="col-sm-2 col-form-label"><strong>Your E-mail</strong></label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="emailInput" placeholder="your email">
              </div>
            </div>
            <div class="form-group row">
              <label for="messageInput" class="col-sm-2 col-form-label"><strong>Your message</strong></label>
              <div class="col-sm-10">
                <textarea class="form-control" id="messageInput" rows="5" placeholder="Please enter your message..."></textarea>
              </div>
            </div>
            <div class="gy-3">
              <div class="form-group row text-end">
                <div class="col-sm-10 offset-sm-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
            </div>
            

          </form>
        </div>
        
      

      </div>
     
      
    </div>
    
  </div>
