<!-- your html code here -->
<div class="container p-5 bg-white" id="portfolio">
    <div class="row">
        <h1>Portfolio</h1>
        <p style="font-size: 23px;">
        
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod dui ac lorem interdum mattis. Phasellus finibus pharetra augue, non porta est interdum vel. Cras ut aliquet lorem.

        </p>
    </div>
    <div class="card-group pt-5">
        <div class="card mx-2 border-0">
            <img class="card-img-top" src="/Team-3-exercise-collaborative-html-website/website/assets/img/big-project-image.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">in hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus</p>
          </div>
        </div>
        <div class="card mx-2 border-0">
          <img class="card-img-top" src="/Team-3-exercise-collaborative-html-website/website/assets/img/big-project-image.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">in hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus</p>
          </div>
        </div>
        <div class="card mx-2 border-0">
          <img class="card-img-top" src="/Team-3-exercise-collaborative-html-website/website/assets/img/big-project-image.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">in hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus</p>
          </div>
        </div>
      </div>
</div>