<!-- your html code here -->
<div class="container p-5 bg-white">
    <div class="row">
        <div class="col-3">
            <img src="/Team-3-exercise-collaborative-html-website/website/assets/img/2.jpg" class="rounded-circle" width="300" height="300">
        </div>
        <div class="col-9">
            <h1>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h1>
            <p style="font-size: 23px;">
            
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod dui ac lorem interdum mattis. Phasellus finibus pharetra augue, non porta est interdum vel. Cras ut aliquet lorem.

            </p>
       </div>
    </div>
  </div>